<div class="w-3xl flex flex-row items-end justify-between mt-10 mb-2">
  <div class="p-2 bg-black/30 rounded-xl mask-t-from-50%">
    <div class="text-4xl font-bold text-white">
      <h1>{{ cellarResource.value()?.name || 'Loading...' }}</h1>
    </div>
  </div>
  <button appButton variant="primary" type="button" (click)="showAddStorage.set(true)" class="w-40">
    Add storage
  </button>
</div>

@if (showAddStorage()) {
  <app-add-storage
    [cellarId]="cellarId()"
    (storageAdded)="onStorageAdded()"
    (closed)="showAddStorage.set(false)"
  />
}
<div
  class="w-3xl justify-center place-content-center flex flex-col gap-4 bg-black/60 p-2 rounded-lg shadow-lg"
>
  @for (storageUnit of storageUnits; track storageUnit.storageUnitId) {
    <div class="flex bg-[#A5846A]/80 flex-row justify-between rounded-lg">
      <div class="flex w-full max-w-3xs flex-row-start place-content-start pr items-center">
        <div class="text-lg w-full border-l-1 border-b-1 p-2 font-bold ml-4 black text-wrap">
          {{ storageUnit.name }}
        </div>
        <app-confirmation (confirmed)="OnDeleteStorageUnit(storageUnit)" />
      </div>

      <div class="flex flex-row-end place-content-around items-center">
        <div class="text-lg font-bold text-black text-center">
          <img class="scale-65" src="/icons/icon-wine.png" />{{ storageUnit.totalWineQuantity }}
        </div>
        <button class="flex self-center w-[41.49px] h-[39.49px] overflow-hidden">
          <img class="scale-100" src="/icons/icon-right-arrow.png" />
        </button>
      </div>
    </div>
  }
</div>
