:host {
  display: block;
  position: sticky;
  top: 0;
  backdrop-filter: blur(2px);
  width: 100%;


}

:host::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
