<div class="w-3xl flex flex-row items-end justify-between mt-10 mb-2">
  <div class="p-2 bg-black/30 rounded-xl mask-t-from-50%">
    <div class="text-4xl font-bold text-white">
      <h1>Check out your cellar, yo!</h1>
    </div>
  </div>
  <button appButton variant="primary" type="button" (click)="showAddCellar.set(true)" class="w-40">
    Add cellar
  </button>
</div>

@if (showAddCellar()) {
  <app-add-cellar
    [cellarId]="''"
    (cellarAdded)="onCellarAdded($event)"
    (closed)="showAddCellar.set(false)"
  />
}
<!-- Forsøg på en cool cellar ting (scroll  osv)-->
<div
  class="w-3xl flex flex-col gap-4 bg-black/60 p-2 rounded-lg shadow-lg overflow-y-auto max-h-170"
>
  @for (cellar of cellarsResource.value(); track cellar.cellarId) {
    <div class="flex bg-[#A5846A]/80 flex-row justify-between rounded-lg">
      <div class="flex w-full max-w-3xs flex-row-start place-content-start pr items-center">
        <div class="text-lg w-full border-l-1 border-b-1 p-2 font-bold ml-4 black text-wrap">
          {{ cellar.name }}
        </div>
        <button
          class="w-[41.49px] h-[39.49px]"
          appButton
          [variant]="'icon'"
          (click)="OnDeleteCellar(cellar)"
        >
          <img class="scale-100" src="/icons/delete-icon.png" />
        </button>
      </div>
      <!--SPACEBOX-->

      <!--STORAGE  AND  WINE AMOUNTS +  BUTTON-->
      <div class="flex flex-row-end place-content-around items-center">
        <div class="text-lg font-bold text-black"></div>
        <img class="scale-65" src="/icons/icon-storage.png" />
        <div class="text-lg font-bold text-black text-center">
          <img class="scale-65" src="/icons/icon-wine.png" />
        </div>
        <button
          [routerLink]="['/cellar', cellar.cellarId, 'specific-cellar']"
          class="flex self-center w-[41.49px] h-[39.49px]"
          appButton
          [variant]="'icon'"
        >
          <img class="scale-100" src="/icons/icon-right-arrow.png" />
        </button>
      </div>
    </div>
  }
</div>
